/* * 0 VARIABLES */
:root {
    /* Breakpoints */
    --max-width: 1500px;
    --optimap-width: clamp(0px, 86vw, 2000px);

    --padding-from-edge: calc(50vw - (var(--optimap-width) / 2));
    --island-padding: clamp(6px, calc(var(--padding-from-edge) - 4vw), 99vw);
    --main-part-width: calc(100vw - 2 * var(--padding-from-edge));

    /* TODO! TOHLE OPRAVIT!! NA MOBILU JE CONTENT MOC UZSKY!!!! */
    --main-part-width-small: calc(var(--main-part-width) / 1.5);
}

/* TODO! TOHLE JE UDĚLANÉ ÚPLNĚ ALIBISTICKY -- !SPRAVIT! */
/* mobile */
@media screen and (max-width: 770px) {
    :root {
        --main-part-width-small: 100%;
    }
}


/* * 1 DEFAULT BROWSER CLEAROUT */
html,
body {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

ul li {
    padding: 1px 5px;
}


/* * 2 UTILITIES   */
/* * 2.0 IDk */
/* * 2.1 Position from parent*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-h {
    /* Cneter horizontally */
    display: flex;
    justify-content: center;

}

.center-v {
    /* Center vertically */
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.all-center * {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pos-w {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pos-e {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.pos-n {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pos-s {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.pos-nw {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.pos-ne {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.pos-sw {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pos-se {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pos {
    position: relative;
}

/* * 2.2 Position from element */

.to-w,
.to-e,
.to-n,
.to-s,
.to-nw,
.to-ne,
.to-sw,
.to-se {
    position: absolute;
    padding: inherit;

    height: auto;
    width: auto;

    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
}

.to-w {

    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.to-s {

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.to-e {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.to-n {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.to-sw {
    bottom: 0;
    left: 0;
}

.to-se {
    bottom: 0;
    right: 0;
}

.to-nw {
    top: 0;
    left: 0;
}

.to-ne {
    top: 0;
    right: 0;
}


.always-on-top {
    position: fixed;
    /* z-index: 20; */
    top: 0;
    left: 0;
    right: 0;
}

/* * 2.3 Flex properties */
.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}



.wrap {
    flex-wrap: wrap;
}


/* * 2.4 Responsiveness  */
.responsive-rotate {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .responsive-rotate {
        flex-direction: column;
    }
}

ul.responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.plain {
    list-style: none;
    padding: 0;
}


@media only screen and (max-width: 768px) {
    .m-hidden {
        display: none !important;
    }

    .m-reversed {
        flex-direction: column-reverse;
    }

    .responsive {
        flex-direction: column !important;
    }

    .responsive li {
        padding: 2px 0px;
    }
}

@media only screen and (min-width: 768px) {

    .pc-hidden,
    .nav-drawer {
        display: none !important;
    }
}




/* * 2.5 Background */
.bg {
    position: relative;
    overflow: hidden;

}

.make-section-bg {
    pointer-events: none;
    user-select: none;

    position: absolute;
    z-index: -1;
}

.make-section-bg,
.make-section-bg.default {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    /* height: 100%;
    width: 100%; */

    object-fit: cover;
    object-position: center;
}

.stretch,
.make-section-bg.stretch {
    object-fit: fill;
}

.make-section-bg.to-left {
    width: auto;
}

.make-section-bg.to-right {
    /* width: auto; */
    left: unset;
}



/* * 2.6 Hover */
.hover {
    transform: translateY(0px);
}

.hover:not(:hover) .hover-show {
    display: none !important;

}

.hover:hover .hover-hide {
    display: none !important;
}


.hover:hover .hover-show {
    /* animation: riseUp, opacity 0.2s ease-in-out; */
    animation-name: riseUp, opacityyy;
    animation-duration: 0.2s, 0.2s;
    animation-timing-function: ease-in-out;
    /* animation: opacityyy 0.2s ease-in-out; */
}

.hover:not(:hover) .hover-hide {
    animation: riseDown 0.2s ease-in-out;

}

/* * 2.6 Image filters */
.darken {
    filter: brightness(0.7);
}

.darken-more {
    filter: brightness(0.5);
}

.lighten {
    filter: brightness(1.3);
}

.lighten-more {
    filter: brightness(1.5);
}

.negative {
    filter: invert(1);
}


/* * 2.7 Padding and margin */
.padding {
    padding: 10px;
}

/* * 2.8 Scrolling */
.subtle-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}


/* * 2.8 Text position */
.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}


/* * 3 TYPOGRAPHY */
/* TODO? Nechat to takhle? */
.icon,
.input-icon {
    font-family: 'Material Icons';
    background-color: transparent;
    border: none;
    color: var(--font-color);
    /* padding: 10px 10px; */
    font-size: calc(1.50rem * var(--font-multiplier));

}

.input-icon {
    padding: 10px 10px;
}

li .icon,
a .icon,
p .icon {
    margin-right: 5px;
    padding: 0;
    font-size: inherit;
}

.muted {
    color: var(--font-color-muted);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem * var(--font-multiplier));
    line-height: 1.5;
    font-weight: 400;
    color: var(--font-color-dark)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}



h1 {
    font-size: calc(2.5rem * var(--font-multiplier));
}

h2 {
    font-size: calc(2rem * var(--font-multiplier));
}

h3 {
    font-size: calc(1.75rem * var(--font-multiplier));
}

h4 {
    font-size: calc(1.5rem * var(--font-multiplier));
}

h5 {
    font-size: calc(1.25rem * var(--font-multiplier));
}

h6 {
    font-size: calc(1rem * var(--font-multiplier));
}

p {
    font-size: calc(1rem * var(--font-multiplier));
}

.display {
    font-weight: 300;
}

h1.responsive,
h1.responsive-heading {
    font-size:
        clamp(1rem, calc(2rem * var(--font-multiplier) + var(--font-responsivness)), 7rem);


}

h2.responsive,
h2.responsive-heading {
    font-size: clamp(1.25rem, calc(2rem * var(--font-multiplier) + var(--font-responsivness) * 0.8), 5.5rem);
}

h3.responsive,
h3.responsive-heading {
    font-size: clamp(1.5rem, calc(1.75rem * var(--font-multiplier) + var(--font-responsivness) * 0.6), 5rem);
}

h4.responsive,
h4.responsive-heading {
    font-size: clamp(1.25rem, calc(1.5rem * var(--font-multiplier) + var(--font-responsivness) * 0.4), 4.5rem);
}

.dark {
    color: var(--font-color-light);
}

.light {
    color: var(--font-color-dark);
}

.dark .inverted-theme {
    color: var(--font-color-light);
}

.light .inverted-theme {
    color: var(--font-color-dark);
}

/* * 4 PAGE LAYOUT */
/* * 4.1 Main, sections, content*/
main,
.main {
    margin-top: 5px;
    padding-top: var(--navbar-height);
    min-height: calc(100vh - 210px);
    display: flex;
}

.sections>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.content {
    max-width: var(--main-part-width);
    /* ! Neodstraňuj, usnadníš si život */
    /* PS: díky, pomohlo ;-) */
    width: 100%;

}

.sections.small .content {
    /* width: var(--main-part-width-small); */
    max-width: 800px;
}


.sections {
    /* Neodstraňuj, jinak si uškodíš <3 */
    width: 100%;
}

/* * 4.2 Nav */
nav {
    /* Tohle je zrejme potreba - kvuli draweru */
    display: grid;
    z-index: 18;

}

/* * 4.2.1 Banner */
.banner p {
    margin: 0 !important;
}

/* * 4.2.2 Navbar */
.navbar>*>*,
.navbar>* {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    align-items: stretch;
}

.navbar .nav-dropdown>a {
    height: 100%;
}


nav .navbar p,
nav .navbar a {
    /* Becuase of icons and links*/
    padding: 0 10px;
}


nav .navbar a {
    padding-top: 0;
    padding-bottom: 0;
    /* height: 250px; */
}


nav .navbar.island {
    margin: 5px var(--island-padding);
    padding: 0 20px;
}

/* * 4.2.2.1 - Navbar drawers */
.nav-drawer {
    display: none;
    /* z-index: 11; */
}

.nav-drawer.opened,
.nav-drawer.open {
    display: flex;
}

/* TODO: Tento code jsem jenom zkopíroval z minulé verze - dodělat!! */
.nav-drawer>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.nav-drawer.fullscreen {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.nav-drawer.drawer {
    height: max-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: var(--navbar-height);
}

.nav-drawer.fullscreen>div {
    /* ? Static value - klidně změn*/
    height: calc(100vh - 400px);
}

.nav-drawer.opened {
    display: flex;
}

.nav-drawer.drawer.opened {
    transform-origin: top;
    animation: drawer 0.2s ease-in-out;
}

.nav-drawer.fullscreen.opened {
    animation: fulscreen-nav-drawer-animation 0.2s ease-in-out;
}

/* TODO: Až podsaď */

/* * 4.2.2.2 - Navbar dropdowns */
.nav-dropdown .dropdown-window {
    z-index: 8;
    position: absolute;
    display: none;
    background: var(--bg-light);
    padding: 15px;
}


.nav-dropdown:hover .dropdown-window,
.nav-dropdown:active .dropdown-window,
.nav-dropdown:focus .dropdown-window {
    animation: dropdown 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.nav-dropdown .dropdown-window * {
    padding: 5px;
}

.nav-dropdown .dropdown-button+.dropdown-window {
    display: none;
}



/* * 4.2.3 Toolbar */
.toolbar,
nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--padding-from-edge) - 15px);
    /* z-index: 17; */
}

.toolbar {
    margin: 0;
    height: min-content;
}

.toolbar * {
    margin: 3px;
}

a.tool,
button.tool {
    padding: 5px 6px;
    font-size: calc(1rem * var(--font-multiplier));
}

/* * 4.3 Sidebar */
.sidebar {
    max-height: calc(100vh - var(--navbar-height));
    overflow: auto;
    position: sticky;
    top: var(--navbar-height);

    width: 100%;
}


/* TODO! - Tohle předělej - nejlépe na kontejnery  */
.sidebar.left {
    max-width: clamp(225px, 25vw, 280px);
}

.sidebar.right {
    max-width: clamp(150px, 15vw, 300px);
}


/* * 4.4 Footer */
footer {
    padding: 30px 30px 0 30px;
}




/* * 4.5 Cookies */
.cookies-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 100; */
}

/* * 5. COMPONENTS */
/* * 5.1 Acordeon */
.accordion-plain button.accordion-header,
.accordion-nice button.accordion-header {
    background-color: transparent;
    border: none;
    display: flex;
    width: 100%;
    margin: 0px;
    cursor: pointer;
}

.accordion-content {
    transition: height .2s ease;
    height: 500px;
    max-height: 250px;
}

.accordion-plain button.accordion-header {
    justify-content: flex-start;
    color: var(--font-color);
    padding: 0;
    font-size: 1rem;
}

.accordion-nice button.accordion-header {
    justify-content: space-between;
    text-align: left;
    font-size: 1rem;
    /* TODO: CHANGE PADDING TO VARIABLE! */
    padding: 10px 15px;
}


.accordion-plain button.accordion-header::before,
.accordion-nice button.accordion-header::after {
    font-family: 'Material Icons';
    content: 'expand_more';
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
    transform: rotate(180deg);
}

.accordion-plain button.accordion-header::before {
    transform: rotate(0deg);
}

.accordion-item.closed button.accordion-header::before {
    transform: rotate(-90deg);
}

.accordion-item.closed button.accordion-header::after {
    transform: rotate(0deg);
}

.accordion-content {
    overflow-y: hidden;
    padding: 0 15px;
}

.accordion-content.opened {
    height: 100%;
}

.accordion-item.closed .accordion-content {
    height: 0;
}

/* * 5.2 Badges */
.badge {
    font-size: 40%;
    padding: 3px;
    display: inline-flex;
    vertical-align: text-top;
    width: fit-content;
    border-radius: 55px;

}


/* * 5.3 Buttons */
.btn,
.button,
button,
select {
    border: none;
    padding: 10px 20px;
    margin: 3.5px 5px;
    font-size: calc(1rem * var(--font-multiplier));
    font-weight: 600;
    cursor: pointer;
    background-color: unset;
}

button {
    display: flex;
    align-items: center;

}

button:not(.icon-btn).large,
select.large {
    padding: 12px 30px;
    font-size: 1.2rem;
}

/* * 5.4 Cards */
.card {
    padding: 25px 15px;
    margin: 15px;
}

.card.layout {
    padding: 0;
    overflow: hidden;
}

.card.layout .card-body,
.card.layout .card-footer {
    padding: 15px;
}


/* * 5.5 Carousels */
.carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    /* padding: 5px; */
    scroll-behavior: smooth;
    height: 100% !important;
}

.carousel.maximised {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;

}

.carousel.maximised::-webkit-scrollbar {
    display: none;
}


.carousel.maximised>* {
    width: 100% !important;
    /* height: 100% !important; */
    scroll-snap-align: start;
}

.carousel.fade-edge {
    --mask: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 3%,
            rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%) 100% 50% / 100% 100%;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.carousel>* {
    flex-grow: 0;
    flex-shrink: 0;
}

.carousel-parent .left-control,
.carousel-parent .right-control {
    position: absolute;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.carousel-parent .left-control button,
.carousel-parent .right-control button {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.carousel-parent .left-control {
    left: 0px;
    padding-right: 15px;
}

.carousel-parent .right-control {
    right: 0px;
    padding-left: 15px;
}

.carousel-control-l {
    content: "chevron_left";

}

.carousel-control-r {
    content: "chevron_right";
}


.carousel img {
    pointer-events: none;
    user-select: none;
}

/* * 5.6 Chips */
.chip {
    padding: 5px 15px;
    margin: 5px;

    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

/* Protože to jsou input:checkbox */
.chip::before,
.chip::after {
    display: none !important;
}


/* * 5.7 Dropdown */
.dropdown {
    position: relative;
}

.dropdown.open .dropdown-window,
.dropdown.opened .dropdown-window {
    position: absolute;
    display: flex;
    background: var(--bg-light);
    border-radius: var(--border-radius-components);
    padding: 10px;
    z-index: 8;
    flex-direction: column;

    top: calc(100%);

    animation: dropdown 0.2s ease-in-out;

    /* left: 0;
    top: 200%; */
}

.dropdown .dropdown-window {
    display: none;
}


/* * 5.8 Example window */
.example-window {
    background-color: var(--font-color-light);
    /* Resizeable with mouse */
    resize: both;
    overflow: auto;

    max-width: 100%;
    max-height: 100%;
}

/* * 5.9 VOLNÝ PROSTOR PRO NĚJAKÝ KOMPONENT MEZI Example <--> Inputs */
/* Prostě se mi to nechce přejmenovávat, po tom, co jsem jeden bod vymazal */

/* * 5.10 Inputs */
/* * 5.10.0 Input sections  */
.input {
    display: flex;
    flex-direction: column;
}

.input>.input-icon {
    margin-top: -8px;
    margin-bottom: -51px;
    pointer-events: none;
    z-index: 8;
    font-family: 'Material Icons';
}

.input>.input-icon.right {
    margin-left: calc(100% - 45px);
}

.input>.input-icon+input {
    padding-left: 38px;
}

.input>.input-icon.right+input {
    padding-right: 38px;
}

.input input,
.input textarea {
    font-size: calc(1rem * var(--font-multiplier));
}

.input label.sub {
    font-size: calc(0.85rem * var(--font-multiplier));
}

.input label.sub::before {
    content: ' * ';
}

/* * 5.10.2 Input types */
input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}


input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
    content: "";
    margin-right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    box-shadow: none;
}

input[type="radio"]+label::before {
    border-radius: 50% !important;
}

input[type="checkbox"]:checked+label::after {
    font-family: "Material Icons";
    content: "done";

    font-size: 25px;
    /* color: var(--font-color-light); */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    left: 0px;
    /* top: 0px; */
    top: calc(50%-10px);


    height: 22px;
    width: 22px;

    /* animation: check 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

input[type="radio"]:checked+label::after {
    content: "";

    height: 10px;
    width: 10px;
    border-radius: 50%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    left: 5.5px;
    top: calc(50%-5px);
}


/* * 5.11 Joiners */
.joiner {
    pointer-events: none;
    user-select: none;

    position: absolute;
    z-index: 0;
}

.joiner {
    z-index: -1;
    position: absolute;
    transform: translateY(-50%);
}


/* * 5.12 Keyboard inputs */
/* TODO! VELKÉ TODO! - UDĚLEJ FROM SCRATCH */



/* * 5.13 Leaders */
span.leader {
    width: 100%;
    margin: 0 7px;
    border-bottom: gray 2.5px dotted;
    margin-bottom: 6px;
    border-bottom-style: dotted;
    height: auto;
    flex-grow: 1;
    flex: 1;
    min-width: 20px;

}

span.leader.dashed {
    border-bottom-style: dashed;
}

span.leader.solid {
    border-bottom-style: solid;
}

span.leader.double {
    border-bottom-style: double;
}

/* * 5.14 Loading */
.loading,
.loading * {
    color: transparent;
    animation: text-loading 1s infinite;

    height: auto;
    width: auto;


    /* Disable ::select */
    user-select: none;
}


/* * 5.15 DALŠÍ VOLNÉ MÍSTO */

/* * 5.16 Offcanvas */
.offcanvas-parent {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.45);

    animation: modalBG 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.offcanvas {
    padding: 20px;
    z-index: 999;
    background-color: #beefed;
}

.modal {
    background-color: var(--font-color-light);
    max-width: 400px;
    animation: riseUp 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.offcanvas:not(.modal) {
    position: fixed;
    top: 0;
    bottom: 0;
}

.offcanvas.left {
    left: 0;
    max-width: 80vw;
}

.offcanvas.right {
    right: 0;
    max-width: 80vw;
}

.offcanvas-parent>button {
    background: transparent !important;
    border-radius: 0;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: default;
    z-index: 98;
}

/* * 5.17 Steppers */
.stepper,
.stepper-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;

}

.stepper.type-column {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}


.stepper li {
    position: relative;
    margin: 0 15px;
}


.stepper.type-column .stepper-b {
    position: absolute;
    bottom: calc(-1 * 100% - 7px);
    left: 50%;
    transform: translateX(-50%);
}

.stepper.type-row .stepper-b,
.stepper.horizontal .stepper-b {
    margin-left: 8px;
}



.stepper li .stepper-a,
.stepper li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.stepper .stepper-a {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}


.stepper.horizontal {
    flex-direction: column;
}

.stepper.horizontal li {
    flex-direction: column;
    /* TO left */
    align-items: flex-start;
}

.stepper.horizontal .stepper-body {
    border-left: 1px solid black;
    padding-left: 15px;
    margin-left: 15px;

}

.stepper li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 15px;
}


.stepper li:not(.active) .stepper-body {
    height: 0;
    overflow: hidden;
}

/* * 5.18 Tables */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
    border: 5px solid transparent;
    border-radius: max(1px, var(--border-radius-components));
    overflow: hidden;
}

table.centered td {
    text-align: center;
    vertical-align: middle;
}

table td button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table.hover tbody tr:hover {
    background-color: var(--font-color-light) !important;
}

table thead {
    border-bottom: 2px solid var(--font-color-dark-muted);
}

table tr {
    border-bottom: 1px solid var(--font-color-dark-muted);
}

table.compact td,
table.compact th {
    padding: 1px;
}

table td {
    padding: 5px;
}


/* * 5.19 Tabs */
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

/* * 5.20 Tiles */

/* * 5.21 Tooltip */
.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip-window {
    display: none;
    /* top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%); */
}

.tooltip:hover .tooltip-window {
    display: inherit;
    position: absolute;
    z-index: 100;
}

.tooltip-window.left {
    transform: translateX(-100%) translateY(-50%);
    left: 0;
    top: 50%;
}

.tooltip-window.right {
    transform: translateX(100%) translateY(-50%);
    right: 0;
    top: 50%;
}

.tooltip-window.top {
    transform: translateX(-50%) translateY(-100%);
    left: 50%;
    top: 0;
}

.tooltip-window.bottom {
    transform: translateX(-50%) translateY(100%);
    left: 50%;
    bottom: 0;
}


/* * 6 ANIMATIONS */
@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes drawer {
    0% {
        /* height: 0; */
        /* scale so that it looks like height 0  */
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes fulscreen-nav-drawer-animation {
    0% {
        opacity: 0;
        margin-top: 15px;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text-loading {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


@keyframes check {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes riseUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes riseDown {
    0% {
        display: block;
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: block;
        transform: translateY(0px);
    }
}

/* Slide from left */
@keyframes slide-l {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-r {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes modalBG {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    90% {
        background-color: rgba(0, 0, 0, 0.45);
    }
}

@keyframes opacityyy {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main>* {
    animation: page-animation 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* ? Předělej!! */
/* ! Jo jako! */

.sidebar ul {
    list-style: none;
    padding: 0;
    padding-left: 15px;
}

ul a.active {
    color: var(--primary-color);
    font-weight: bold;
}



/* ! Přesuň */
.lightbox,
.lightbox .modal {
    max-width: unset;
}

.lightbox .modal {
    background: none;
}

.lightbox .offcanvas-parent:first-child {
    backdrop-filter: blur(10px);
}

.lightbox .w-12.h-12 {
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;


}

.lightbox img {

    width: inherit !important;
    height: inherit !important;
}


.lightbox .carousel>* {
    max-height: 80vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox .carousel>* img {
    max-height: 80vh;
    max-width: 90vw;

    /* Keep the aspect ration */
    width: auto !important;


}


.lightbox .left-control {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.lightbox .right-control {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}