/* * 0.  VARIABLES */
:root {
    --background: #f3ef1a38;

    --primary-color: #9d22df;
    --primary-color-muted: #9d22df2d;
    --primary-color-hover: #7a1ab2;

    --secondary-color: #f3ef1a;
    --secondary-color-muted: #f3ef1a38;

    --success-color: #1af32c;
    --danger-color: #f31a1a;


    --primary-color-static: var(--primary-color);
    --secondary-color-static: var(--secondary-color);

    --font-color-light: #f7fcf1;
    --font-color-light-muted: #f7fcf1b3;
    --font-color-dark: #1e1d3a;
    --font-color-dark-muted: #1e1d3ab3;

    --font-color: var(--font-color-dark);
    --font-color-muted: var(--font-color-dark-muted);

    --bg-light: #f7fcf1;
    --bg-dark: #1e1d3a;

    --font-multiplier: 1.04;
    --font-responsivness: 5vw;

    --border-radius-components: 5px;
    --border-radius-card: 20px;
    --border-radius-tiles: 50px;

    --gray-shadow-small: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    --gray-shadow-card: 0px 3px 5px 0.5px rgba(0, 0, 0, 0.2);
    --gray-shadow-card-rissen: 0px calc(3px + var(--card-rise)) 5px 0.5px rgba(0, 0, 0, 0.3);

    --primary-shadow: 0 1px 5px 0 rgba(157, 34, 223, 0.2);
    --primary-shadow-small: 0 0 5px 0 rgba(157, 34, 223, 0.2);
    --primary-shadow-card: 0px 3px 5px 0.5px rgba(157, 34, 223, 0.2);
    --primary-shadow-card-rissen: 0px calc(3px + var(--card-rise)) 5px 0.5px rgba(157, 34, 223, 0.3);

    --button-padding: 10px 20px;
    --card-rise: 5px;

    --box-shadow: 0px 8px 10px 1px rgba(157, 34, 223, 0.4);

}

/* * Něco mezi 0 a 1 - Jeste ne components, ale ?? */
::selection {
    background: var(--secondary-color-static);
    color: var(--primary-color-static);
}

body {
    background: var(--secondary-color-muted);
}

/* * Neco pred 1 - Text */
a {
    color: var(--primary-color-static);
}

/* * 1. COMPONENTS */

/* * 1.0 Accordion */
.accordion-nice .accordion-item {
    margin: 5px;
    border: solid 1px var(--primary-color-static);
    /* Nevím proč to tak je, ale nech to tu! */
    border-radius: calc(var(--border-radius-components)* 1.2);
}

.accordion-nice .accordion-header {
    background: var(--primary-color) !important;
    color: var(--font-color-light);
    padding: 10px;
    border-radius: var(--border-radius-components);
    transition: all 0.2s ease-in-out;
}

/* * 1.1 Badges */
.badge.primary {
    background: var(--primary-color);
    color: var(--font-color-light);
}

.badge.secondary {
    background: var(--primary-color-muted);
    color: var(--primary-color);
}

.badge.terciary {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color-static);
}

/* * 1.2 Buttons */
.btn,
.button,
button,
select {
    color: var(--font-color-light);
    border: none;
    border-radius: var(--border-radius-components);
    transition: all 0.2s ease-in-out;
    background: var(--primary-color);
}

select:focus,
select:focus-visible,
button:focus,
button:focus-visible {
    outline: 1.3px solid var(--primary-color);
}

button.primary,
.btn.primary,
.button.primary,
select.primary {
    background: var(--primary-color);
    box-shadow: var(--gray-shadow-small);

}

.btn.primary:hover,
.button.primary:hover,
button.primary:hover {
    background: var(--primary-color-hover);

}

button.secondary,
.btn.secondary,
.button.secondary,
select.secondary {
    color: var(--primary-color);
    background: var(--primary-color-muted);
}

button.secondary:hover,
.btn.secondary:hover,
.button.secondary:hover,
select.secondary:hover {
    outline: var(--primary-color) 1px solid;

}

button.terciary,
.btn.terciary,
.button.terciary,
select.terciary {
    color: var(--primary-color);
    background: none;
    border: var(--primary-color-static) 1px solid;
}

button.terciary:hover,
.btn.terciary:hover,
.button.terciary:hover,
select.terciary:hover {
    background: var(--primary-color-muted);
}

button:disabled,
select:disabled {
    filter: grayscale(100%) brightness(1.3);
    cursor: not-allowed;
    border: none;
    outline: none;
}

button.plain,
.btn.plain,
.button.plain,
.icon-btn {
    background: none;
    color: var(--primary-color);
}

.btn.plain:hover,
.button.plain:hover,
button.plain:hover {
    text-decoration: 1.7px underline var(--primary-color);
}

button.tool,
a.tool {
    color: var(--primary-color);
    border-radius: var(--border-radius-components);
    transition: all 0.2s ease-in-out;
    background: var(--primary-color-muted);
    font-weight: 300;
}


/* * 1.3 Cards */
.card {
    background: var(--bg-light);
    box-shadow: var(--gray-shadow-card);
    border-radius: var(--border-radius-card);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: var(--gray-shadow-card-rissen);
    transform: translateY(calc(-1 * var(--card-rise)));
}

.card.primary:hover,
.card.secondary:hover,
.card.terciary:hover {
    box-shadow: var(--primary-shadow-card-rissen);
}


.card.primary {
    background: var(--primary-color);
    color: var(--font-color-light);
    box-shadow: var(--primary-shadow-card);

}

.card.secondary {
    background: var(--primary-color-muted);
    box-shadow: var(--primary-shadow-card);
    border: 1.3px solid var(--primary-color-static);
    color: var(--primary-color);
}

.card.terciary {
    border: 1px solid var(--primary-color-static);
    color: var(--primary-color);
}



/* * 1.4 Carousels */
.carousel-control-l,
.carousel-control-r {
    font-family: "Material Icons";
    height: 40px;
    width: 40px;
    border-radius: 50%;

    box-shadow: var(--primary-shadow-small);
    opacity: 0.3;
}

.carousel-parent .left-control:hover .carousel-control-l,
.carousel-parent .right-control:hover .carousel-control-r {
    opacity: 1;
    box-shadow: var(--primary-shadow);
}

/* * 1.5 Chips */
.chip {
    /* Seconadry */
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color-static);
    border-radius: var(--border-radius-components);
}

.chip.primary {
    background: var(--primary-color-muted);
    color: var(--primary-color);
    border: none;
}

input:checked+.chip.primary {
    background: var(--primary-color);
    color: var(--font-color-light);
}

input:checked+.chip {
    background: var(--primary-color-muted);
    color: var(--primary-color);
}


/* * 1.6 Dropdown */
.dropdown .dropdown-window {
    box-shadow: var(--primary-shadow);
}


/* * 1.8 Keyboard inputs */
/* TODO! - UDĚLEJ KEYBOARD INPUT STYLES */

/* * 1.9 Loading */
.loading {
    background: linear-gradient(125deg, var(--primary-color), var(--primary-color-muted), var(--primary-color));
    background-size: 400% 400%;

    border-radius: var(--border-radius-components);
}

/* * 1.11 Offcanvas */
.modal {
    background: var(--font-color-light);
    border-radius: var(--border-radius-components);
}

.offcanvas {
    background: var(--font-color-light);
    animation: slide-l 0.3s ease-in-out;
}

.offcanvas.right {
    animation: slide-r 0.3s ease-in-out;
}

/* * 1.12 Steppers */
.stepper .stepper-a {
    background-color: green;
}

/* Active */
.stepper .active .stepper-a {
    background-color: var(--primary-color);
}

.stepper .active .stepper-b {
    font-weight: 700;
}

.stepper .active:hover .stepper-a {
    background-color: var(--primary-color-hover);
}

/* After .active  */
.stepper li.active~li .stepper-a {
    color: var(--primary-color);
    background-color: var(--primary-color-muted);
    outline: 1px solid var(--primary-color);
}

/* * 1.13 Table */
table.striped tbody tr:nth-child(odd) {
    background-color: var(--primary-color-muted);
}

/* * 1.14 Tabs */
.tab {
    background: var(--primary-color-muted);
    color: var(--primary-color);
    border-radius: var(--border-radius-components);
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
}

.tab.active {
    background: var(--primary-color);
    color: var(--font-color-light);
    box-shadow: var(--primary-shadow);
}


/* * 1.15 Tiles */
.tile {
    border-radius: var(--border-radius-tiles);
    padding: 20px;
}

.tile.primary {
    background: var(--primary-color);
    color: var(--font-color-light);
    box-shadow: var(--primary-shadow-card);

}

.tile.secondary {
    color: var(--primary-color);
    background: var(--primary-color-muted);
    outline: var(--primary-color) 1px solid;
}

.tile.terciary {
    color: var(--primary-color);
    background: none;
    border: var(--primary-color-static) 1px solid;
}

/* * 1.16 Tooltip */
.tooltip-window {
    background-color: var(--bg-light);
    padding: 5px;
    border-radius: var(--border-radius-components);
    border: 1px solid var(--primary-color-static);
}

/* * 1.17 Horizontal ruler */
hr {
    border: 0;
    border-bottom: solid 2px;
    border-image: linear-gradient(to right, var(--primary-color-muted), var(--primary-color), var(--primary-color-muted)) 1;
}

/* * 1.18 Example */
.example-window {
    background-color: var(--primary-color-muted);
    border-radius: var(--border-radius-components);
    padding: 10px;
    border: 1px solid var(--primary-color-static);
}

/* * 1.19 Inputs */
input,
textarea {
    background-color: transparent;
    /* border: 2px solid var(--primary-color-static); */
    border-color: var(--primary-color-static);
    border-width: 2px;
    border-style: solid;


    border-radius: var(--border-radius-components);
    padding: 10px;
    transition: box-shadow 0.2s ease-in-out;
}

input:focus,
textarea:focus {
    outline: none;
    /* box-shadow: -1px 2px 8px 0rem rgba(157, 34, 223, 0.25); */
    box-shadow: var(--primary-shadow);

}

input.large {
    padding: 12px 12px;
    font-size: 1.2rem;
}

input.danger,
textarea.danger {
    border-color: var(--danger-color);
}

input.success,
textarea.success {
    border-color: var(--success-color);
}

input.success:focus,
textarea.success:focus {
    box-shadow: 0 0 5px 0 var(--success-color);
}

input.danger:focus,
textarea.danger:focus {
    box-shadow: 0 0 5px 0 var(--danger-color);
}

input.editable {
    border: none;
    /* Center text */
    text-align: center;
    font-weight: 700;

}

input.editable:focus {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    box-shadow: none;
}

.input-icon {
    color: var(--primary-color);
}

.input.danger input,
input.danger {
    border-color: var(--danger-color);
}

.input.danger label.sub,
label.sub.danger {
    color: var(--danger-color);
}

.input.success input,
input.success {
    border-color: var(--success-color);
}

.input.success label.sub,
label.sub.success {
    color: var(--success-color);
}

input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
    /* shape and stuff edited in besamel_??.css*/
    background: var(--primary-color);
    border-radius: 3px;
}

input[type="checkbox"]:checked+label::after {
    color: var(--font-color-light);
    animation: check 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="radio"]:checked+label::after {
    background: var(--font-color-light);
}


input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
    filter: grayscale(100%) brightness(2);
    cursor: default;
}

/* * 1.20 Navbar and subs */

nav {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--primary-color-muted) 100%);
    backdrop-filter: blur(10px);
}

.navbar .inactive,
.navbar a {
    transition: 0.3s ease-in-out all;

    color: var(--secondary-color);
}

.navbar a:hover {
    border-bottom: #f3ef1a 2px solid;
}

.navbar .active {
    color: var(--primary-color);
    border-bottom: #f3ef1a 2px solid;
}

.navbar .dropdown-window a {
    border: none;
}

/* Banner */
.banner {
    background: var(--secondary-color);
}

/* Toolbar */
.toolbar {
    background-color: var(--bg-light);
}

.toolbar * {
    color: var(--font-color);

}


/* * 1.21 Scrolls */
.nice-scroll::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.carousel::-webkit-scrollbar {
    background-color: none;
    height: 10px;
    width: 10px;
}

.nice-scroll::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.carousel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color-muted);
}

.nice-scroll::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
.carousel::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

.subtle-scroll::-webkit-scrollbar {
    background-color: transparent;
    height: 3px;
}

.subtle-scroll::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-muted);
}

.subtle-scroll:hover::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

/* ! Přidělané - pak něco převeď do components_02 v ochutanvac/Styles  - dik ;-) */

.sidebar li,
.sidebar li a {
    color: var(--font-color-dark-muted) !important;
}

.sidebar li a:hover {
    color: var(--font-color-dark) !important;
}

.sidebar li a.active {
    color: var(--primary-color) !important;
}

footer {
    background:
        linear-gradient(0deg, transparent 0%, var(--primary-color-muted) 100%),
        linear-gradient(0deg, var(--secondary-color) 0%, var(--secondary-color-muted) 100%);

    border-top: 1px solid var(--primary-color);
}

.display-icon {
    padding: 0;
    height: 60px;
    width: 60px;

    border-radius: var(--border-radius-card);

    /* Center */
    display: flex;
    justify-content: center;
    align-items: center;
}